<div class="mt-20">
     <form>
  <div class="form-group">
    <label for="search-input">Tu khoa</label>
    <input type="text" name = "q" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
   
  </div>
 
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>